<?xml version="1.0" ?>
<config>
	<modules>
		<Ininbox_Emailmarketing>
			<version>2.0.0</version>
		</Ininbox_Emailmarketing>
	</modules>
	<frontend>
		<routers>
			<emailmarketing>
				<use>standard</use>
				<args>
					<module>Ininbox_Emailmarketing</module>
					<frontName>ininbox_emailmarketing</frontName>
				</args>
			</emailmarketing>
			<newsletter>
				<args>
					<modules>
						<ininbox_emailmarketing before="Mage_Newsletter_SubscriberController">Ininbox_Emailmarketing</ininbox_emailmarketing>
						<ininbox_emailmarketing before="Mage_Newsletter_ManageController">Ininbox_Emailmarketing</ininbox_emailmarketing>						
					</modules>
				</args>
			</newsletter>
			<customer>
				<args>
					<modules>
						<ininbox_emailmarketing before="Mage_Customer_AccountController">Ininbox_Emailmarketing</ininbox_emailmarketing>
					</modules>
				</args>
			</customer>
		</routers>
	</frontend>
	<admin>
		<routers>
			<emailmarketing>
				<use>admin</use>
				<args>
					<module>Ininbox_Emailmarketing</module>
					<frontName>admin_ininbox_emailmarketing</frontName>
				</args>
			</emailmarketing>
			<adminhtml>
				<args>
					<modules>
						<ininbox_emailmarketing_adminhtml before="Mage_Adminhtml_CustomerController">Ininbox_Emailmarketing_Adminhtml</ininbox_emailmarketing_adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<models>
			<emailmarketing>
				<class>Ininbox_Emailmarketing_Model</class>
			</emailmarketing>
			<sales>
                <rewrite>                    
                    <order>Ininbox_Emailmarketing_Model_Sales_Order</order>
                </rewrite>
            </sales>
		</models>
		<resources>
			<emailmarketing_setup>
				<setup>
					<module>Ininbox_Emailmarketing</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</emailmarketing_setup>
			<emailmarketing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emailmarketing_write>
            <emailmarketing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emailmarketing_read>
		</resources>
		<blocks>
			<emailmarketing>
				<class>Ininbox_Emailmarketing_Block</class>
			</emailmarketing>
			<adminhtml>
				<rewrite>
					<customer_grid>Ininbox_Emailmarketing_Block_Adminhtml_Customer_Grid</customer_grid>
					<newsletter_subscriber_grid>Ininbox_Emailmarketing_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
					<sales_order_grid>Ininbox_Emailmarketing_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
					<page_menu>Ininbox_Emailmarketing_Block_Adminhtml_Menu</page_menu>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<emailmarketing>
				<class>Ininbox_Emailmarketing_Helper</class>
			</emailmarketing>
		</helpers>
		<events>
			<customer_register_success><!-- Default Event -->
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>customerSaveObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</customer_register_success>
			<adminhtml_customer_save_after><!-- Default Event -->
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>customerSaveObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</adminhtml_customer_save_after>
			<!--<sales_order_place_after>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>salesOrderPlaceAfterObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</sales_order_place_after>-->
			<sales_order_status_after>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>salesOrderStatusAfterObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</sales_order_status_after>
			<newsletter_subscribe_after>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>newsletterSubscribeAfterObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</newsletter_subscribe_after>
			<customer_account_edit_after>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>customerAccountEditAfterObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</customer_account_edit_after>
			<customer_newsletter_subscribe_after>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>customerNewsletterSubscribeAfterObserver</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</customer_newsletter_subscribe_after>
			<admin_system_config_changed_section_ininbox_emailmarketing_options>
				<observers>
					<Ininbox_Emailmarketing_Model_Observer>
						<type>singleton</type>
						<class>Ininbox_Emailmarketing_Model_Observer</class>
						<method>validateIninboxConfig</method>
					</Ininbox_Emailmarketing_Model_Observer>
				</observers>
			</admin_system_config_changed_section_ininbox_emailmarketing_options>
		</events>
	</global>
	<adminhtml>
		<menu>
			<ininbox translate="title" module="adminhtml">
				<title>INinbox</title>
				<sort_order>90</sort_order>
				<children>
					<ininboxabandonedcarts>
						<title>Abandoned Carts</title>
						<action>admin_ininbox_emailmarketing/adminhtml_abandonedCarts</action>
					</ininboxabandonedcarts>
					<emailmarketing>
						<title>Email Marketing Settings</title>
						<action>adminhtml/system_config/edit/section/ininbox_emailmarketing_options</action>
					</emailmarketing>
					<ininboxlogin>
						<title>INinbox Login</title>
					</ininboxlogin>
					<inspiredsupport>
						<title>INspired Support</title>
					</inspiredsupport>
				</children>
			</ininbox>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ininbox_emailmarketing_options>
											<title>Email Marketing Module Section</title>
										</ininbox_emailmarketing_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <layout>
			<updates>
				<mobilecase>
					<file>ininbox.xml</file>
				</mobilecase>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<ininbox_emailmarketing_options>
			<general>
				<url>http://api.ininbox.com/v1/</url>
			</general>
		</ininbox_emailmarketing_options>
		<ininbox_emailmarketing_options>
			<abandoned_carts_settings>
				<abandoned_time>30</abandoned_time>
			</abandoned_carts_settings>
		</ininbox_emailmarketing_options>
	</default>
	<crontab>
		<jobs>
			<ininbox_process_abandoned_carts>
				<schedule>
					<cron_expr>*/10 * * * *</cron_expr>
				</schedule>
				<run>
					<model>emailmarketing/observer::processAbandonedCarts</model>
				</run>
			</ininbox_process_abandoned_carts>
		</jobs>
	</crontab>
</config>
