#ininbox_tab_options {
    background-image: url("../images/ininbox.png");
    padding: 1px 0px 0px 68px;
    background-color: transparent;
    background-size: 62px 14px;
    background-position: 0px 2px;
    background-repeat: no-repeat no-repeat;
}
